@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto Mono", monospace;
}

.main-game-field {
    width: 100%;
    height: 100%;
    background-image: url('/image/game_background_field.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-game-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.player-paddle {
    position: absolute;
    width: 142px;
    height: 22px;
    background: url('../../image/paddle.png');
    background-size: 100% 100%;
    transition: width 0.5s; 
}

.level-block-wrapper {
    display: grid;
    grid-template-columns: repeat(15, 6vw);
    margin-top: 10px;
    position: relative;
}

.block__style {
    height: 3vh;
    background-color: red;
    position: relative;
}

.empty__block {
    height: 3vh;
    background-color: transparent;
    position: relative;
}

.strong__block {
    height: 3vh;
    background-color: grey;
    position: relative;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../../../image/ball.png');
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
}

/* Прозрачный внешний блок */
.transparent-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw; /* ширина блока по сетке */
    height: 3vh; /* высота блока */
    background-color: transparent; /* Прозрачный фон */
    padding: 0; /* Без отступов */
}

/* Внутренние блоки */
.block__style, .empty__block, .strong__block {
    width: 100%; /* Внутренний блок полностью заполняет внешний */
    height: 100%;
    position: absolute; /* Для точного размещения внутри контейнера */
}

/* Имеем стандартные стили */
.red {
    background: url('../../image/bricks/Colored_Red-64x32.png');
    background-size: 100% 100%;
}

.green {
    background: url('../../image/bricks/Colored_Green-64x32.png');
    background-size: 100% 100%;
}

.purple {
    background: url('../../image/bricks/Colored_Purple-64x32.png');
    background-size: 100% 100%;
}

.orange {
    background: url('../../image/bricks/Colored_Orange-64x32.png');
    background-size: 100% 100%;
}

.blue {
    background: url('../../image/bricks/Colored_Blue-64x32.png');
    background-size: 100% 100%;
}

.yellow {
    background: url('../../image/bricks/Colored_Yellow-64x32.png');
    background-size: 100% 100%;
}

.empty__block {
    background-color: transparent; /* Прозрачный блок */
}

.strong__block {
    background: url('../../image/bricks/Bump\ Small.png');
    background-size: 100% 100%;
}

.timer {
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: 24px;
    color: white;
}


.end-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    z-index: 1000;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 440px;
}

.end-menu h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.end-menu p {
    font-size: 18px;
    margin-bottom: 20px;
}

.continue-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.continue-button:hover {
    background-color: #45a049;
}

.power-up {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: gold;
    border-radius: 50%;
    transition: opacity 0.5s;
}